.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}
.links_list {
  display: flex;
  list-style: none;
  margin-right: 1em;
}

.link_list, li, a {
    padding: .4em .6em;
    text-decoration: none;
    color: #000;
}

.active{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);   color: #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  transition: linear .2s;
}
.mobiledevice {
  display: none;
}
@media screen and (max-width:500px) {
.webdevice {
  display: none;
}
.mobiledevice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.link_list, li, a {
  display: flex;
  padding: .3em .4em;
}
 a:not(:first-child){
  margin-left:10px;
}
.navbar ul {
  margin: 0.4em 0em;
}

}
@media screen and (max-width:370px) {
ul.links_list {
  scale: .8;
  margin-left: 1.5em;
}
.brand {
  font-size: 1em;
}
}