.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search h2 {
    margin-bottom: 1em;
}
.search p {
    padding-bottom: 1rem;
}
.noposts {
    text-align: center;
}