.container {
  min-height: 70vh;
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:500px) {
.container {
  min-height: 80vh;
  max-width: 500px;
}
}